<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!---
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="copyright" content="MACode ID, https://macodeid.com/">
  <title>One Health - Medical Center HTML5 Template</title>
  <link rel="stylesheet" href="maicons.css">
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="owl.carousel.css">
  <link rel="stylesheet" href="animate.css">
  <link rel="stylesheet" href="theme.css">






</head>

<body>
     <!-- new header-->
     <div class="back-to-top"></div>

     <header>
       <div class="topbar">
         <div class="container">
           <div class="row">
             <div class="col-sm-8 text-sm">
               <div class="site-info">
                 <a href="#"><span class=""></span>&#128222 +91 8200148462</a>
                 <span class="divider">|</span>
                 <a href="#"><span class=""></span>&#9993 lagadhirdivyesh2508@gmail.com</a>
               </div>
             </div>
       
             </div>
           </div> <!-- .row -->
         </div> <!-- .container -->
       </div> <!-- .topbar -->
   
       <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
         <div class="container">
           <a class="navbar-brand" href="#"><span class="text-primary">One</span>-Health</a>
   
        
   
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
   
           <div class="collapse navbar-collapse" id="navbarSupport">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                 <a class="nav-link" href="home">Home</a>
               </li>
               <li class="nav-item active">
                 <a class="nav-link" href="aboutus">About Us</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="doctors">Doctors</a>
               </li>
        
               <li class="nav-item">
                 <a class="nav-link" href="contact.html">Contact</a>
               </li>
               <li class="nav-item">
                 
                  <select class="nav-link" >
                   <option value="">Login/Register</option> 
                  <option value="">Admin</option>
                  <option value="">Doctor</option>
                  <option value="">Patient</option>
                 </select>
   
               </li>
             </ul>
           </div> <!-- .navbar-collapse -->
         </div> <!-- .container -->
       </nav>
     </header>
               <!--end--> 
  <!--
  developed By : sumit kumar
  facebook : fb.com/sumit.luv
  youtube : youtube.com/lazycoders
  -->

</body>

</html>
